html,body{
	height: 100%;
}
.full-height{
	height: 100%;
}
.navbar {
    background-color: !important;
}

.navbar-brand {
    color: !important;
}

.mediano {
	font-size: 30px;
}

.panel-heading {
    background-color: #5697ff !important;
    color: white !important;
}

.well {
	-webkit-border-radius: 10px 15px;
    -moz-border-radius: 10px 15px;
	background-color: #410010;
	color: white;
}
.no-float {
	float: none;
}
.top-space {
	margin-top: 100px;
}
.description {
	width: 20%;
	height: 50px;
	white-space: all;
	text-overflow: ellipsis;
}
